header {
    font-size: 50px;
    background-color:#337d78;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
   #history{
    color: #337d78;
    font-family:Georgia, 'Times New Roman', Times, serif;
    size:10rem
  }
  .navbar{
    background-color: #337d78;
  }
  .navbar ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    overflow: hidden;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline;
    color:white;
    font-weight: bold;
    font-weight: 600; 
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color:#f3d24f;
    text-shadow: 1px 1px 10px rgba(255, 215, 0, 0.7);
    text-decoration: none;
  }
  .navbar li{
    float: inline-start;
  }
  /* General body styling */
#body {
    background-color:#337d78;
}

.head{
    size: 40px;
    color: white; 
}
.section{
  border-style:ridge;
  border-radius: 7px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 70px;
}
.section p:hover{
    text-shadow: #f3d24f;
}
.section p{
    size: 30px;
    margin-right: 40px;
    display: inline;
}
.summary{
    text-align: center;
    size: 25px;
    margin-top: 60px;
    margin-bottom: 0px;
}
/* Footer */
footer {
    
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 5px;
    width: 100%;
}

